.container{
    display: flex;
    gap: 20px;
    /* justify-content: center; */
    margin-top: 30px;
}

#taskList{
    display: flex;
    flex-direction: column;
}
li{
    display: flex;
    gap: 15px;
    align-items: inherit;
    /* justify-content: space-between; */
    padding: 5px;
}